.caja{
    width: 100%;
    height: 60px;
    background-color: rgba(99, 190, 158, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    position:fixed;
}
.wa{
    width: 25%;
    height: 25px;
    margin-top: 2.5% ;
    background-color:rgba(30, 60, 255, 0.59) ;
    text-decoration: none;
    color: white;
    border-radius: 9%;
    border:2px solid rgba(250, 250, 250, 0.71);
    display: flex;
    justify-content: center;
}
.wa:hover{
    background-color: rgba(19, 45, 211, 0.59);
}